Repository PhilipASWE/prometheus-helm, changes with the owners that CODEOWNERS names for each.
All owners: @gianrubio, @zanhsieh, @Xtigyro, @MattiasGees, @steven-sheehy, @hectorj2f, @desaintmartin, @torstenwalter, @asherf, @timm088, @gkarthiks, @Juanchimienti, @monotek, @okgolove, @caarlos0, @vsliouniaev, @bismarck, @cstaud, @acondrat, @Miouge1, @helm-charts-admins

CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/charts/prometheus/                       @gianrubio @zanhsieh @Xtigyro
/charts/prometheus-adapter/               @MattiasGees @steven-sheehy @hectorj2f
/charts/prometheus-blackbox-exporter/     @desaintmartin @gianrubio
/charts/prometheus-cloudwatch-exporter/   @gianrubio @torstenwalter @asherf
/charts/prometheus-consul-exporter/       @timm088
/charts/prometheus-couchdb-exporter/      @gkarthiks
/charts/prometheus-mongodb-exporter/      @steven-sheehy
/charts/prometheus-mysql-exporter/        @Juanchimienti @monotek
/charts/prometheus-nats-exporter/         @okgolove @caarlos0
/charts/prometheus-node-exporter/         @gianrubio @vsliouniaev
# prometheus-operator will be renamed. so the line below should be removed once https://github.com/prometheus-community/helm-charts/pull/1 is merged
/charts/prometheus-operator/              @vsliouniaev @bismarck @gianrubio
/charts/kube-prometheus-stack/            @vsliouniaev @bismarck @gianrubio
/charts/prometheus-postgres-exporter/     @gianrubio
/charts/prometheus-pushgateway/           @gianrubio @cstaud
/charts/prometheus-rabbitmq-exporter/     @Juanchimienti
/charts/prometheus-redis-exporter/        @acondrat
/charts/prometheus-snmp-exporter/         @Miouge1
/charts/prometheus-to-sd/                 @acondrat

## changes to CODEOWNERS should be reviewed by repository admins
/CODEOWNERS @helm-charts-admins

Add condition to Alert Manager default dashboard to prevent adding the dashboard when AM is disabled
  charts/kube-prometheus-stack/Chart.yaml
  charts/kube-prometheus-stack/hack/sync_grafana_dashboards.py
  charts/kube-prometheus-stack/templates/grafana/dashboards-1.14/alertmanager-overview.yaml
  charts/kube-prometheus-stack/values.yaml
Owners: @vsliouniaev, @bismarck, @gianrubio

Update prometheus rules per linting workflow
  charts/kube-prometheus-stack/templates/prometheus/rules-1.14/kubernetes-apps.yaml
  charts/kube-prometheus-stack/templates/prometheus/rules-1.14/kubernetes-resources.yaml
Owners: @vsliouniaev, @bismarck, @gianrubio

bump to 0.11.0
  charts/prometheus-consul-exporter/Chart.yaml
Owners: @timm088

bump to 0.12.0
  charts/prometheus-consul-exporter/Chart.yaml
Owners: @timm088

bump consul exporter to 0.9.0
  charts/prometheus-consul-exporter/Chart.yaml
  charts/prometheus-consul-exporter/templates/deployment.yaml
  charts/prometheus-consul-exporter/values.yaml
Owners: @timm088

bump consul exporter to 0.9.0
  charts/prometheus-consul-exporter/values.yaml
Owners: @timm088

bump consul exporter to 0.9.0
  charts/prometheus-consul-exporter/Chart.yaml
Owners: @timm088

bump consul exporter to 0.9.0
  charts/prometheus-consul-exporter/Chart.yaml
Owners: @timm088

Update Chart.yaml
  charts/prometheus-consul-exporter/Chart.yaml
Owners: @timm088

bump prometheus-to-sd exporter to 0.9.2
  charts/prometheus-to-sd/Chart.yaml
  charts/prometheus-to-sd/templates/deployment.yaml
  charts/prometheus-to-sd/values.yaml
Owners: @acondrat

[prometheus-blackbox-exporter] Adjust configPath handling
  charts/prometheus-blackbox-exporter/Chart.yaml
  charts/prometheus-blackbox-exporter/README.md
  charts/prometheus-blackbox-exporter/templates/_helpers.tpl
Owners: @desaintmartin, @gianrubio

[prometheus-blackbox-exporter] fix typo in config arg
  charts/prometheus-blackbox-exporter/templates/_helpers.tpl
Owners: @desaintmartin, @gianrubio

[prometheus-node-exporter] prevent node exporter from being scheduled on fargate or virtual nodes
  charts/prometheus-node-exporter/Chart.yaml
  charts/prometheus-node-exporter/templates/_helpers.tpl
  charts/prometheus-node-exporter/templates/daemonset.yaml
Owners: @gianrubio, @vsliouniaev

Update Chart.yaml
  charts/prometheus-consul-exporter/Chart.yaml
Owners: @timm088

Add support for device-include / device-exclude and image pull secrets
  charts/prometheus-smartctl-exporter/Chart.yaml
  charts/prometheus-smartctl-exporter/templates/daemonset.yaml
Owners: none

Change version to minor release, add defaults to values.yaml
  charts/prometheus-smartctl-exporter/Chart.yaml
  charts/prometheus-smartctl-exporter/values.yaml
Owners: none

fix: pdb template values
  charts/prometheus/templates/pdb.yaml
Owners: @gianrubio, @zanhsieh, @Xtigyro

[prometheus-stackdriver-exporter] bump version and support new 0.17.0 flags
  charts/prometheus-stackdriver-exporter/Chart.yaml
  charts/prometheus-stackdriver-exporter/templates/deployment.yaml
  charts/prometheus-stackdriver-exporter/values.yaml
Owners: none
